@font-face {
    font-family: 'Sarabun-Regular';
    src: url('fonts/Sarabun-Regular.eot') format('embedded-opentype')
            url('fonts/Sarabun-Regular.woff') format('woff'), 
            url('fonts/Sarabun-Regular.ttf')  format('truetype'), 
            url('fonts/Sarabun-Regular.svg#Sarabun-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sarabun-Light';
    src: url('fonts/Sarabun-Light.eot?#iefix') format('embedded-opentype'),  
            url('fonts/Sarabun-Light.woff') format('woff'), 
            url('fonts/Sarabun-Light.ttf')  format('truetype'), 
            url('fonts/Sarabun-Light.svg#Sarabun-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sarabun-Medium';
    src: url('fonts/Sarabun-Medium.eot?#iefix') format('embedded-opentype'),  
            url('fonts/Sarabun-Medium.woff') format('woff'), 
            url('fonts/Sarabun-Medium.ttf')  format('truetype'), 
            url('fonts/Sarabun-Medium.svg#Sarabun-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sarabun-ExtraBold';
    src: url('fonts/Sarabun-ExtraBold.eot?#iefix') format('embedded-opentype'),  
            url('fonts/Sarabun-ExtraBold.woff') format('woff'), 
            url('fonts/Sarabun-ExtraBold.ttf')  format('truetype'), 
            url('fonts/Sarabun-ExtraBold.svg#Sarabun-ExtraBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sarabun-ThinItalic';
    src: url('fonts/Sarabun-ThinItalic.eot?#iefix') format('embedded-opentype'),  
            url('fonts/Sarabun-ThinItalic.woff') format('woff'), 
            url('fonts/Sarabun-ThinItalic.ttf')  format('truetype'), 
            url('fonts/Sarabun-ThinItalic.svg#Sarabun-ThinItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
  


/* Commun Reveal */
.slides {
    top: 5% !important;
    transform: translate(-50%, -5%) scale(0.941) !important;   
}

.slides > section , .slides > section > section {
    top: 0;
    bottom: 0;
}

.reveal section img {
    border: none;
    background: none;
    box-shadow: none;
}


/* Commun custom */
img.mockup {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
}

div.footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);

    width: 100%;

    font-size: 1rem;
    text-shadow: -1px 0 #0B032D, 0 1px #0B032D, 1px 0 #0B032D, 0 -1px #0B032D;
}

.light {
    font-family: 'Sarabun-Light';
}

section section:first-child h2 {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-80%,-50%);

    font-size: 5rem;
}

h2 {
    font-family: 'Sarabun-Regular';
    font-size: 0.9em;
}

h3 {
    font-family: 'Sarabun-Regular' !important;
    font-size: 0.8em !important;
}



/* Entrée */
section#entree h2 {
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);

    color: #fff;
    text-shadow: -1px 0 #0B032D, 0 1px #0B032D, 1px 0 #0B032D, 0 -1px #0B032D;
}

section#entree h1 {
    font-family: 'Sarabun-ExtraBold';
    font-size: 1.8em;
    line-height: 5.5rem;

    color: #843B62;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-25%);
}

section#entree h1 span {
    font-size: 1.5em;
}


/* Sommaire */
section#sommaire h2 {
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);

    color: #0B032D;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

section#sommaire p#sommaire-p {
    margin-top: 4rem;
    margin-bottom: 6rem;

    font-family: 'Sarabun-Regular';
    color: #0B032D;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

section#sommaire .sommaire-etape {
    float: left;
    position: relative;
    width: 33%
}

section#sommaire .sommaire-etape p {
    font-family: 'Sarabun-Regular';
    color: #0B032D;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

section#sommaire .sommaire-etape img {
    width: 8rem;
}


/* Parcours professionnel */
section#professionnel section:first-child h2, section#professionnel section:first-child h3 {
    color: #fff;
    text-shadow: -1px 0 #0B032D, 0 1px #0B032D, 1px 0 #0B032D, 0 -1px #0B032D;
}

section#professionnel .etape {
    position: relative;
    float: left;

    margin-top: 2rem;
}

section#professionnel section:nth-child(2) .etape {
    width: 33%;
}

section#professionnel section:nth-child(3) .etape,
section#professionnel section:nth-child(4) .etape {
    width: 50%;
}

section#professionnel .etape p {
    font-family: 'Sarabun-Light';
    font-size: 2rem;
}

section#professionnel .etape p span {
    font-family: 'Sarabun-Medium';
}

section#professionnel .pensee {
    width: 100%;
    position: relative;
    float: left;

    margin-top: 5rem; 
}

section#professionnel .pensee p {
    font-family: 'Sarabun-ThinItalic';
    font-size: 1.5rem;
}


/* Réalisations */
section#realisations section:first-child h2, section#realisations section:first-child h3 {
    color: #fff;
    text-shadow: -1px 0 #0B032D, 0 1px #0B032D, 1px 0 #0B032D, 0 -1px #0B032D;
}

section#realisations .left, 
section#realisations .right {
    width: 50%;
    float: left;
    position: relative;
}

section#realisations video {
    width: 50%;
}

section#realisations .cimaya div.footer {
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    color: #0B032D;
}

section#realisations img.logo-cimaya {
    margin: 0;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* Projets futurs */
section#futur section:first-child h2, section#futur section:first-child h3 {
    color: #fff;
    text-shadow: -1px 0 #0B032D, 0 1px #0B032D, 1px 0 #0B032D, 0 -1px #0B032D;
}

section#futur .projet {
    position: relative;
    float: left;

    margin-top: 5rem;

    width: 50%;
}

section#futur .projet p {
    font-family: 'Sarabun-Medium';
    font-size: 2rem;
}



/* Fin */
section#fin p {
    font-family: 'Sarabun-Medium';
    font-size: 5rem;
    text-transform: uppercase;
    color: #843B62;

    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
} 

/*
 * By Jose Aguinaga
 * http://jjperezaguinaga.com
 */
@-webkit-keyframes rotate-right {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes rotate-left {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(-360deg);
    }
}
@-webkit-keyframes hover {
    0% {
      -webkit-transform: translateY(0%);
    }
    50% {
      -webkit-transform: translateY(5%);
    }
    100% {
      -webkit-transform: translateY(0%);
    }
}
@-webkit-keyframes pull {
    0% {
      -webkit-transform: scaleY(1);
    }
    40% {
      -webkit-transform: scaleY(1.01);
    }
    60% {
      -webkit-transform: scaleY(0.99);
    }
    80% {
      -webkit-transform: scaleY(1.01);
    }
    100% {
      -webkit-transform: scaleY(0.99);
    }
    80% {
      -webkit-transform: scaleY(1.01);
    }
    100% {
      -webkit-transform: scaleY(1);
    }
}
#airplane2, #airplane1 {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform-origin: 200px 200px;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: rotate-right 60s linear 0s infinite;
}
#countryObjects {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform-origin: 200px 200px;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: rotate-right 240s linear 0s infinite;
}
#floatingGlobe {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform-origin: 200px 200px;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: rotate-left 360s linear 0s infinite;
}
#globe {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: hover 0s linear 0s infinite;
}
#windmill {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform-origin: 331px 201px;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: rotate-right 2s linear 0s infinite;
}
#cloud1 {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: hover 3s linear 1s infinite;
}
#cloud2 {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: hover 3s linear 2s infinite;
}
#cloud3 {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: hover 3s linear 3s infinite;
}
#circle1 {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform-origin: 200px 200px;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: rotate-right 12s linear 0s infinite;
}
#circle2 {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform-origin: 200px 200px;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: rotate-left 24s linear 0s infinite;
}
#circle3 {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform-origin: 200px 200px;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: rotate-right 12s linear 0s infinite;
}
#circle4 {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform-origin: 200px 200px;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: rotate-left 24s linear 0s infinite;
}
#circle5 {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform-origin: 200px 200px;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: rotate-right 12s linear 0s infinite;
}
