@font-face {
    font-family: 'Sarabun-Regular';
    src: url('fonts/Sarabun-Regular.eot') format('embedded-opentype')
            url('fonts/Sarabun-Regular.woff') format('woff'), 
            url('fonts/Sarabun-Regular.ttf')  format('truetype'), 
            url('fonts/Sarabun-Regular.svg#Sarabun-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sarabun-Light';
    src: url('fonts/Sarabun-Light.eot?#iefix') format('embedded-opentype'),  
            url('fonts/Sarabun-Light.woff') format('woff'), 
            url('fonts/Sarabun-Light.ttf')  format('truetype'), 
            url('fonts/Sarabun-Light.svg#Sarabun-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sarabun-Medium';
    src: url('fonts/Sarabun-Medium.eot?#iefix') format('embedded-opentype'),  
            url('fonts/Sarabun-Medium.woff') format('woff'), 
            url('fonts/Sarabun-Medium.ttf')  format('truetype'), 
            url('fonts/Sarabun-Medium.svg#Sarabun-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sarabun-ExtraBold';
    src: url('fonts/Sarabun-ExtraBold.eot?#iefix') format('embedded-opentype'),  
            url('fonts/Sarabun-ExtraBold.woff') format('woff'), 
            url('fonts/Sarabun-ExtraBold.ttf')  format('truetype'), 
            url('fonts/Sarabun-ExtraBold.svg#Sarabun-ExtraBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sarabun-ThinItalic';
    src: url('fonts/Sarabun-ThinItalic.eot?#iefix') format('embedded-opentype'),  
            url('fonts/Sarabun-ThinItalic.woff') format('woff'), 
            url('fonts/Sarabun-ThinItalic.ttf')  format('truetype'), 
            url('fonts/Sarabun-ThinItalic.svg#Sarabun-ThinItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
  


/* Commun Reveal */
.slides {
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    transform: inherit !important;
}

section#entree,
section#sommaire,
section#fin,
section#professionnel section,
section#realisations section,
section#futur section {
    height: 85vh;
    width: 85vw;
    right: -13%;
}

.reveal section img {
    border: none;
    background: none;
    box-shadow: none;
}


/* Commun custom */
img.img-globe {
    width: 5rem;

    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0,0);
}

div.footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);

    width: 100%;

    font-size: 1.2rem;
}

.light {
    font-family: 'Sarabun-Light';
}

section section:first-child h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

h2 {
    font-family: 'Sarabun-Regular';
    font-size: 0.9em;
}



/* Entrée */
section#entree h2 {
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
}

section#entree h1 {
    font-family: 'Sarabun-ExtraBold';
    font-size: 1.8em;
    line-height: 4.8rem;

    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-25%);
}

section#entree h1 span {
    font-family: 'Sarabun-Medium';
    font-size: 3rem;
}


/* Sommaire */
section#sommaire h2 {
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
}

section#sommaire p#sommaire-sous-titre {
    font-family: 'Sarabun-Regular';
    font-size: 2rem;
}

section#sommaire p#sommaire-p {
    margin-top: 4rem;
}


/* Parcours professionnel */
section#professionnel p.pensee {
    font-family: 'Sarabun-ThinItalic';
    font-size: 1.5rem;
}

section#professionnel p.etape {
    font-family: 'Sarabun-Light';
    font-size: 2rem;
}

section#professionnel p.etape span {
    font-family: 'Sarabun-Medium';
}

/* Réalisations */
section#realisations img.logo-cimaya {
    margin: 0;

    position: absolute;
    top: 0;
    left: 43%;
}

/* Projets futurs */
