@font-face {
    font-family: 'Sarabun-Regular';
    src: url('fonts/Sarabun-Regular.eot') format('embedded-opentype')
            url('fonts/Sarabun-Regular.woff') format('woff'), 
            url('fonts/Sarabun-Regular.ttf')  format('truetype'), 
            url('fonts/Sarabun-Regular.svg#Sarabun-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sarabun-Medium';
    src: url('fonts/Sarabun-Medium.eot?#iefix') format('embedded-opentype'),  
            url('fonts/Sarabun-Medium.woff') format('woff'), 
            url('fonts/Sarabun-Medium.ttf')  format('truetype'), 
            url('fonts/Sarabun-Medium.svg#Sarabun-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sarabun-ExtraBold';
    src: url('fonts/Sarabun-ExtraBold.eot?#iefix') format('embedded-opentype'),  
            url('fonts/Sarabun-ExtraBold.woff') format('woff'), 
            url('fonts/Sarabun-ExtraBold.ttf')  format('truetype'), 
            url('fonts/Sarabun-ExtraBold.svg#Sarabun-ExtraBold') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Commun Reveal */
.slides {
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    transform: inherit !important;
}
.reveal section img {
    border: none;
    background: none;
    box-shadow: none;
}


/* Commun custom */

img.img-globe {
    width: 7rem;
}

div.footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);

    width: 100%;

    font-size: 1.2rem;
}



/* Entrée */
section#entree {
    height: 90vh;
}

section#entree h2 {
    font-family: 'Sarabun-Regular';
    font-size: 0.9em;

    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
}

section#entree h1 {
    font-family: 'Sarabun-ExtraBold';
    font-size: 1.8em;
    line-height: 4.8rem;

    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-25%);
}

section#entree h1 span {
    font-family: 'Sarabun-Medium';
    font-size: 3rem;
}

section#entree img.img-globe {
    position: absolute;
    top: 30%;
    right: 25%;

    z-index: -1;
}


/* Sommaire */

section#sommaire h2 {
    font-family: 'Sarabun-Regular';
}

section#sommaire p#sommaire-sous-titre {
    font-family: 'Sarabun-Regular';
}
